// Colors
$primary: #6D32A5;
$dark-primary: #2B0F4D;
$rose: #F53361;
$secondary: #A3A6B9;
$dark: #05081D;
$success: #04be14;
$danger: #f02828;
$warning: #e2aa0e;

$input-radius: 4px;
$input-height: 36px;
$input-padding: 12px;

$menu-closed: 96px;
$menu-opened: 221px;
